<a href="https://colab.research.google.com/github/hwymn/pythonBasics/blob/main/Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Loops

## For Loop

In [12]:
my_List = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [33]:
for i in my_List:
  print(i)
# this just prints the list

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [6]:
for i in range(11, 1, -1):
  print(i)
# this checks the items within the range (Would this just be all items?)

11
10
9
8
7
6
5
4
3
2

In [7]:
5 % 3
# "%" checks the remainder

2

In [8]:
10 % 3
# "%" checks the remainder

1

In [13]:
for i in my_List:
  if i % 2 == 0:
    print(i)
# This checks for even numbers

2
4
6
8
10
12
14
16
18
20

In [14]:
for i in my_List:
  if i % 2 != 0:
    print(i)
# This checks for odd numbers

1
3
5
7
9
11
13
15
17
19

1. print out the items in the list plus 3
2. print out he items from the list times 17
3. print out the items of the list to the power of 5

In [17]:
myList = [1, 5, 7]
# the list was set here

In [22]:
for i in myList: 
  print(i + 3)
# "+" adds

4
8
10

In [24]:
for i in myList:
  print(i * 17)
# "*" multiplies

17
85
119

In [32]:
for i in myList:
  #print(pow(i, 5))
  print(i**5)
# "**" takes it to the power

1
3125
16807

In [34]:
myList

[1, 5, 7]

In [38]:
for i in range(0, len(myList)):
# Creates a range that is equal to the entire length of the list. Useful incase you dont know the length of the list.
  print('Iteration #:', i+1)
# Essentially labels the first iteration, for the first item in the list, by printing the string + i
  for j in range(i+1, len(myList)):
# Adds 1 to the item place number in the list
    print('The outside loop value is: ', 
# Prints the string
          myList[i], 'The inner loop value is ', myList[j])
# Prints i + the string + the defined item in the list. This line and the above functional line are all one line technically

Iteration #: 1
The outside loop value is:  1 The inner loop value is  5
The outside loop value is:  1 The inner loop value is  7
Iteration #: 2
The outside loop value is:  5 The inner loop value is  7
Iteration #: 3

In [39]:
for i in "string":
  print(i)
# Prints every item in the string on its own line

s
t
r
i
n
g

In [41]:
my_list = [(1,2), (3,4), (5,6), (7,8)]
len(my_list)
# These are tuples (tupperware). Tuples are used to store multiple items in a single variable
# len finds the length of the list

4

In [43]:
for tup in my_list:
  print(tup)
# Prints the tuples in the list.

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [45]:
for a,b in my_list:
# a,b here says that it is referring to the items in the tuple. Neccessary
  print(a,b)
# Unpacks the touples. Takes the items from the tuples and unpacks them. You can unpack certain tuples as well e.g. just "a".
# Also, it doesnt have to be "a" "b" etc. It can be words or something, like "for i in..."

1 2
3 4
5 6
7 8

In [46]:
for a,b in my_list:
  print(a)
# Demonstration of unpacking and pulling a single item from a tuple

1
3
5
7

In [47]:
for a,b in my_list:
  print(b)
# Demonstration of unpacking and pulling a single item from a tuple

2
4
6
8

In [49]:
my_dict = {"k1":1, "k2":2, "k3":3}
# Defines the dictionary items
for i in my_dict:
  print(i)
# Prints the keys in the dictionary

k1
k2
k3

In [52]:
for i in my_dict.items():
# Gives command to get the items from the dictionary (both key and values)
  print(i)
# Prints the items gathered

('k1', 1)
('k2', 2)
('k3', 3)

How do we unpack the values from the dictionary

In [55]:
for a,b in my_dict.items():
# Identifies the keys and values as items,like in tuples
  print(b)
# Prints the chosen item

1
2
3

## While Loops

In [57]:
i = 0
# Gives a value to i
while i < 5:
# Says that while the value of i is less than 5, the following will happen
  print(i)
  i = i + 1
# Adds 1 to i and loops back around
  # or "i += 1"

0
1
2
3
4

In [58]:
i = 0

while i < 5:
  print(i)
  i = i + 1
else:
  print("i is not less than 5")
# The two lines above say that when i is >= 5, the string will be printed

0
1
2
3
4
i is not less than 5

In [59]:
i = 10

while i < 5:
  print(i)
  i = i + 1
else:
  print("i is not less than 5")

i is not less than 5