<a href="https://colab.research.google.com/github/hwymn/pythonBasics/blob/main/Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Loops

## For Loop

In [12]:
my_List = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [33]:
for i in my_List:
  print(i)
# this just prints the list

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [6]:
for i in range(11, 1, -1):
  print(i)
# this checks the items within the range (Would this just be all items?)

11
10
9
8
7
6
5
4
3
2

In [7]:
5 % 3
# "%" checks the remainder

2

In [8]:
10 % 3
# "%" checks the remainder

1

In [13]:
for i in my_List:
  if i % 2 == 0:
    print(i)
# This checks for even numbers

2
4
6
8
10
12
14
16
18
20

In [14]:
for i in my_List:
  if i % 2 != 0:
    print(i)
# This checks for odd numbers

1
3
5
7
9
11
13
15
17
19

1. print out the items in the list plus 3
2. print out he items from the list times 17
3. print out the items of the list to the power of 5

In [17]:
myList = [1, 5, 7]
# the list was set here

In [22]:
for i in myList: 
  print(i + 3)
# "+" adds

4
8
10

In [24]:
for i in myList:
  print(i * 17)
# "*" multiplies

17
85
119

In [32]:
for i in myList:
  #print(pow(i, 5))
  print(i**5)
# "**" takes it to the power

1
3125
16807

In [34]:
myList

[1, 5, 7]

In [38]:
for i in range(0, len(myList)):
# Creates a range that is equal to the entire length of the list. Useful incase you dont know the length of the list.
  print('Iteration #:', i+1)
# Essentially labels the first iteration, for the first item in the list
  for j in range(i+1, len(myList)):
# Adds 1 to the item place number in the list
    print('The outside loop value is: ', 
# Prints the string
          myList[i], 'The inner loop value is ', myList[j])
# Prints i + the string + the defined item in the list. This line and the above functional line are all one line technically

Iteration #: 1
The outside loop value is:  1 The inner loop value is  5
The outside loop value is:  1 The inner loop value is  7
Iteration #: 2
The outside loop value is:  5 The inner loop value is  7
Iteration #: 3