<a href="https://colab.research.google.com/github/hwymn/pythonBasics/blob/main/Rapid_Fire.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# "The problem to be solved"

# 1. What do I want?
# "State the problem"

# 2. What do I need?
# "Design your problem solution (algorithm)"

# 3. What do I have?
# "Data provided by either the problem itself or assumed data"

## 1. Return the count of a given substring from a string

###What do I want?

The length of a string

### What do I need?

The string and len command

###What do I have?

The len function (assumed data)

### The solution

In [12]:
s = input('Type any 5 letter word. ')
# Define a string
if len(s) != 5:
  print ('Must be 5 letters')
  exit()
else: print(len(s[1:3]))
# Take a substring (via range function) from the parent string and use the len function on it

Type any 5 letter word. Arggh
2

## 2. Display numbers divisible by 5 from a list

### What do I want?

Numbers divisible by 5 from a list

### What do I need?

A list and the appropriate function

### What do I have?

The commands

### The solution

In [11]:
l = [1,5,10,15,25,27]
# Define a list
for i in l:
  if i%5 == 0:
# Check if i is divisible by 5 by checkng if there is no remainder when dividing by 5
    print(i)

5
10
15
25

## 3. Check if the first and last number of a list are the same

### What do I want?

To check if the first and last number in a list are equal

### What to I need?

A list and comparative operator

### What do I have?

A comparative operator

### The solution

In [18]:
l = [1,2,1,4,1,5,1,2]
# Create that list
if l[0] == l[-1]:
# Check that list (for matching first and last number)
  print('Its a match!')
else:
  print('Too bad')

Too bad

## 4. Print multiplication table from 1 to 10

###What do I want?

A table that shows all numbers from 1 to 10 multiplied by eachother

###What do I have?

In [ ]:
Nested lists

###What do I need?

 To properly apply muliplication and lists

###The solution

In [72]:
n = 10
m = list(list(range(1*i,(n+1)*i, i)) for i in range(1,n+1))
for i in m:
  i = [str(j).rjust(len(str(m[-1][-1]))+1)for j in i]
  print(' '.join(i))

   1    2    3    4    5    6    7    8    9   10
   2    4    6    8   10   12   14   16   18   20
   3    6    9   12   15   18   21   24   27   30
   4    8   12   16   20   24   28   32   36   40
   5   10   15   20   25   30   35   40   45   50
   6   12   18   24   30   36   42   48   54   60
   7   14   21   28   35   42   49   56   63   70
   8   16   24   32   40   48   56   64   72   80
   9   18   27   36   45   54   63   72   81   90
  10   20   30   40   50   60   70   80   90  100

## 5. Display the current date and time

###What do I want?

Date and time

###What do I have?

Python library "datetime"

###What do I need?

To print the date and time after importing the date and time

###The solution

In [64]:
from datetime import datetime
#Imports the date and time
print(datetime.now())
#Prints the date and time
#https://www.programiz.com/python-programming/datetime/current-time

2021-11-12 17:28:56.930653

##6. Print first and last name in reverse order with a space between them

###What do I want?

Print first and last name in reverse order with a space between them

###What do I have?

I've got a name

###What do I need?

An alternate identity, maybe my name backwards...

###The solution

In [77]:
n = ["Alexander", "Feigl"]
# I put my name down
print(n[1], n[0])
# Flip it and reverse it

Feigl Alexander

In [81]:
# Alternatively, ask for user input and print it flipped
f = input('First name: ')
l = input('Last name: ')
print(l, f)

First name: Alexander
Last name: Feigl
Feigl Alexander

##7. Display the first and last colors from a list

###What do I want?

A list of colors and to find the first and last on that list

###What do I have?

No list

###What do I need?

List of colors

###The solution

In [85]:
c = ["Red", "Green", "Blue"]
#List of colors assigned to c
print(c[0]+" "+c[-1])
#Grabbing the first and last from the list

Red Blue

In [29]:
c = []
# Creates empty list
i = input('Enter a color. Enter "n" to move on: ')
# Asks for initial input from user
while i!="n":
# Begins while loop, or ends it depending on whether or not the user inputs "n"
  c.append(i)
# Adds user input to list
  i = input('Enter a color. Enter "n" to move on: ')
# Asks for user input within while loop
print(c[0]+" "+c[-1])
# Shows the first and last color on the list

Enter a color. Enter "n" to move on: Red
Enter a color. Enter "n" to move on: Green
Enter a color. Enter "n" to move on: Blue
Enter a color. Enter "n" to move on: n
Red Blue

##8. Input an integer (n) and computes the value of n+nn+nn

###What do I want?

The sum of integers

###What do I have?

A variable

###What do I need?

A formula

###The solution

In [14]:
n = input()
# Take the input
s = int(n+n)
# Combine the input with itself and make an integer
print(int(n)+s+s)
# Show the result

2
46

##Write a python script to print the calendar of a given month and year.

###What do I want?

Monthly calendar

###What do I have?

Google

###What do I need?

A formula that will yield a monthly calendar

###The solution

In [31]:
import calendar
# Imports the Python calendar
y = int(input("yyyy: "))
# Gets the year from the user
m = int(input("mm: "))
# Gets the month from the user
print(calendar.month(y, m))
# Shows the calendar

yyyy: 2025
mm: 01
    January 2025
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31